<header class="header">
  <div class="title">
    <img src="../../../assets/images/Logo.png" alt="" />
    <ol class="menu">
      <li>Menu</li>
      <li>Rewards</li>
      <li>Blog</li>
    </ol>
  </div>
  <div class="search">
    <div class="input-seach">
      <img src="../../../assets/images/search (1) 1.png" alt="">
      <input type="text" placeholder="Search">
    </div>
    <div class="icon-save">
      <img src="../../../assets/images/bookmarks.png" alt="">
    </div>
  </div>
</header>
