<div class="content">
  <section class="drink-moment">
    <div class="title">
      <h1>Drink of the moment</h1>
      <p>
        Gin, also known as gin, is one of the most popular and appreciated
        alcoholic beverages worldwide, especially for its versatility in
        cocktails. Originally from Europe, this spirit has evolved over the
        centuries and comes in a wide range of styles and flavors.
      </p>
      <span> 4.9 </span>
      <button>
        <span> Try now </span>
        <img src="../../../assets/images/Vector 1.png" alt="" />
      </button>
    </div>
    <div class="image-gin">
      <div class="red">
        <img src="../../../assets/images/Fruta-roja-centro.png" alt="" />
      </div>
      <img
        src="../../../assets/images/Botella-Gin-centro.png"
        class="img-center"
        alt=""
      />
      <div class="coffe">
        <img src="../../../assets/images/Palitos-cafe-centro.png" alt="" />
      </div>
    </div>
    <div class="menu">
      <app-card-drink-moment
        title="Versatility"
        content="The range of flavors in gin is
      exceptionally wide, thanks to the
      variety of botanicals that can be
      used in its production."
        img="../../../assets/images/water-solid 1.png"
      ></app-card-drink-moment>
      <app-card-drink-moment
        title="Distiontiv Flavor"
        content="Bittersweet and slightly
        woody flavor is the
        signature of any gin."
        img="../../../assets/images/cocktail-solid 1.png"
      ></app-card-drink-moment>
      <app-card-drink-moment
        title="Purity"
        content="This gives it a clean, pure feel,
        without the caramel or vanilla notes
        that come from barrel aging."
        img="../../../assets/images/Vector.png"
      ></app-card-drink-moment>
    </div>
  </section>
</div>
